.container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    flex-direction:column;
    height:100vh;
  

    background:
        radial-gradient(circle at top left,#0b3d4a 0%,transparent 40%),
        radial-gradient(circle at bottom right,#1b2735 0%,transparent 35%),
        linear-gradient(135deg,#090b12,#151d26,#0b1117);

}

.card{
    width:600px;
    padding:55px;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    gap:20px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.25);
    border-radius:18px;
    box-shadow:
        0 8px 32px rgba(0,0,0,.35),
        inset 0 1px 1px rgba(255,255,255,.18);
    animation:fadeUp .6s ease;
    transition:.3s;
}
.card h1{
    font-size:40px;
    font-weight:500;
    color:#ffff;
    letter-spacing:-1px;
    margin-bottom:10px;
}
.card p{
   font-size:18px;
    color:#ffff;
    line-height:1.8;
    max-width:420px;
}
.buttons{
    display:flex;
    gap:20px;
    margin-top:10px;
}
.buttons a{
    text-decoration:none;
}
.primaryButton{

    width:160px;

    padding:12px;

    background:rgba(0,180,255,.15);

    color:white;

    border:1px solid rgba(0,180,255,.4);

    border-radius:8px;

    backdrop-filter:blur(10px);

    transition:.3s;
       display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;


}

.primaryButton:hover{

    background:rgba(0,180,255,.3);

    box-shadow:0 0 20px rgba(0,180,255,.35);

}
.secondaryButton{

    width:160px;

    padding:12px;

    background:rgba(0,180,255,.15);

    color:white;

    border:1px solid rgba(0,180,255,.4);

    border-radius:8px;

    backdrop-filter:blur(10px);

    transition:.3s;
       display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;


}

.secondaryButton:hover{

    background:rgba(0,180,255,.3);

    box-shadow:0 0 20px rgba(0,180,255,.35);

}


.line{
    width:400px;
    border-top:2px solid #d8d8d8;
}
@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(25px);
    }
    to{

        opacity:1;
        transform:translateY(0);
    }

}

.card:hover{
    transform:translateY(-3px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}
.footer{
    position:absolute;
    bottom:20px;
    font-size:14px;
    color:#ffff;
}
.icon{
    width:16px;
    height:16px;
    display:inline-block;
    flex:0 0 16px;
    vertical-align:middle;

}